
<style>
    #contentNone::after{
        content:none;
    }
</style>

<!-- Begin Header Bottom Area -->
<div class="header-bottom header-sticky stick d-none d-lg-block d-xl-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
               @Html.Action("MenuPartial","TrangChu")
            </div>
        </div>
    </div>
</div>
<!-- Header Bottom Area End Here -->