@using WebsiteBanXeMay.ViewModels;
@using WebsiteBanXeMay.Common;

@{ var TaiKhoan = Context.Session[Constant.SESSION_TAIKHOAN] as TaiKhoanViewModel;}
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="~/Assets/Admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>@(TaiKhoan.HO +" "+ TaiKhoan.TEN)</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">DANH MỤC</li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-cubes"></i> <span>Đơn hàng</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/Admin/PhieuMua/PhieuMuaChuaDuyet"><i class="fa fa-circle-o"></i> Chưa duyệt</a></li>
                <li><a href="/Admin/PhieuMua/PhieuMuaDaDuyet"><i class="fa fa-circle-o"></i> Đã duyệt và đang giao</a></li>
                <li><a href="/Admin/PhieuMua/PhieuMuaDaGiao"><i class="fa fa-circle-o"></i> Đã hoàn thành</a></li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-users"></i>
                <span>Quản lý nhân viên</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @if (TaiKhoan != null && TaiKhoan.NHOMQUYEN == "admin")
                {
                    <li><a href="/Admin/NhanVien"><i class="fa fa-circle-o"></i> Nhân viên</a></li>
                    <li><a href="/Admin/PhanQuyenNhanVien"><i class="fa fa-circle-o"></i> Phân quyền nhân viên</a></li>
                }
                <li><a href="/Admin/PhuTrach"><i class="fa fa-circle-o"></i> Phân công phụ trách quận</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i>
                <span>Quản lý danh mục</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/Admin/KhachHang"><i class="fa fa-circle-o"></i> Khách hàng</a></li>
                <li><a href="/Admin/ThuongHieu"><i class="fa fa-circle-o"></i> Thương hiệu</a></li>
                <li><a href="/Admin/NhaCungCap"><i class="fa fa-circle-o"></i> Nhà cung cấp</a></li>
                <li><a href="/Admin/LoaiSanPham"><i class="fa fa-circle-o"></i> Loại sản phẩm</a></li>
                <li><a href="/Admin/SanPham"><i class="fa fa-circle-o"></i> Sản phẩm</a></li>
                <li><a href="/Admin/KhuyenMai"><i class="fa fa-circle-o"></i> Khuyến mãi</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Đặt hàng</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/Admin/PhieuDat/PhieuDatChuaHoanThanh"><i class="fa fa-circle-o"></i> Chưa hoàn thành</a></li>
                <li><a href="/Admin/PhieuDat/PhieuDatDaHoanThanh"><i class="fa fa-circle-o"></i> Đã hoàn thành</a></li>
            </ul>
        </li>
        <li><a href="/Admin/PhieuNhap"><i class="fa fa-book"></i> <span>Nhập hàng</span></a></li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Báo cáo</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/Admin/BaoCao/BaoCaoDoanhThuTheoLoaiSanPham"><i class="fa fa-circle-o"></i> Doanh thu</a></li>
                <li><a href="/Admin/BaoCao/BaoCaoTonKhoTheoLoaiSanPham"><i class="fa fa-circle-o"></i> Tồn kho</a></li>
                <li><a href="/Admin/BaoCao/BaoCaoLoiNhuanTheoLoaiSanPham"><i class="fa fa-circle-o"></i> Lợi nhuận</a></li>
            </ul>
        </li>
        @if (TaiKhoan != null && TaiKhoan.NHOMQUYEN == "admin")
        {
            <li><a href="/Admin/SaoLuuPhucHoi"><i class="fa fa-database"></i> <span>Sao lưu và phục hồi dữ liệu</span></a></li>
        }
    </ul>
</section>
<!-- /.sidebar -->
