USE [BANXEMAYONLINE]
GO
/****** Object:  Table [dbo].[CT_KHUYENMAI]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_KHUYENMAI](
	[MALOAI] [varchar](15) NOT NULL,
	[MAKM] [int] NOT NULL,
	[PHANTRAM] [float] NOT NULL,
 CONSTRAINT [PK_CT_KHUYENMAI_1] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC,
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEUDAT]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEUDAT](
	[MAPD] [int] NOT NULL,
	[MALOAI] [varchar](15) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIA] [float] NOT NULL,
 CONSTRAINT [PK_CT_PHIEUDAT_1] PRIMARY KEY CLUSTERED 
(
	[MAPD] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAP]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAP](
	[MACTPN] [int] IDENTITY(1,1) NOT NULL,
	[MAPN] [int] NOT NULL,
	[MALOAI] [varchar](15) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIA] [float] NOT NULL,
 CONSTRAINT [PK_CT_PHIEUNHAP_1] PRIMARY KEY CLUSTERED 
(
	[MACTPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[MAKH] [int] NOT NULL,
	[MALOAI] [varchar](15) NOT NULL,
	[MUCDANHGIA] [int] NOT NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[NGAY] [datetime] NOT NULL,
 CONSTRAINT [PK_DANHGIA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](15) NOT NULL,
	[MAPM] [int] NOT NULL,
	[NGAY] [datetime] NOT NULL,
	[THANHTIEN] [float] NOT NULL,
	[MASOTHUE] [varchar](10) NULL,
 CONSTRAINT [PK_HOADONDAT] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](15) NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[MAQUAN] [int] NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[EMAIL] [varchar](30) NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [int] IDENTITY(1,1) NOT NULL,
	[TENKM] [nvarchar](100) NOT NULL,
	[NGAYBATDAU] [datetime] NOT NULL,
	[NGAYKETTHUC] [datetime] NOT NULL,
	[MOTA] [nvarchar](max) NULL,
	[MANV] [int] NOT NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAI] [varchar](15) NOT NULL,
	[TENLOAI] [nvarchar](100) NOT NULL,
	[GIA] [float] NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
	[HINHANH] [nvarchar](100) NOT NULL,
	[MOTA] [nvarchar](max) NULL,
	[LOAI] [int] NOT NULL,
	[MATH] [varchar](15) NOT NULL,
	[MANCC] [varchar](15) NOT NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [varchar](15) NOT NULL,
	[TENNCC] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[EMAIL] [varchar](30) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](15) NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[EMAIL] [varchar](30) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOMQUYEN]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOMQUYEN](
	[MANQ] [varchar](15) NOT NULL,
	[TENQUYEN] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_NHOMQUYEN] PRIMARY KEY CLUSTERED 
(
	[MANQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUDAT]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUDAT](
	[MAPD] [int] IDENTITY(1,1) NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[MANCC] [varchar](15) NOT NULL,
	[MANV] [int] NOT NULL,
 CONSTRAINT [PK_PHIEUDAT_1] PRIMARY KEY CLUSTERED 
(
	[MAPD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUMUA]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUMUA](
	[MAPM] [int] IDENTITY(1,1) NOT NULL,
	[NGAYMUA] [datetime] NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](15) NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[MAQUAN] [int] NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[NGAYGIAO] [datetime] NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
	[MASOTHUE] [varchar](10) NULL,
	[NOIDUNGCHUY] [nvarchar](max) NULL,
	[MANVD] [int] NULL,
	[MANVGH] [int] NULL,
	[MAKH] [int] NOT NULL,
 CONSTRAINT [PK_PHIEUDAT] PRIMARY KEY CLUSTERED 
(
	[MAPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[MANV] [int] NOT NULL,
	[MAPD] [int] NOT NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHUTRACH]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUTRACH](
	[MAPHUTRACH] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAQUAN] [int] NOT NULL,
 CONSTRAINT [PK_PHUTRACH_1] PRIMARY KEY CLUSTERED 
(
	[MAPHUTRACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUAN]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUAN](
	[MAQUAN] [int] IDENTITY(1,1) NOT NULL,
	[TENQUAN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_QUAN] PRIMARY KEY CLUSTERED 
(
	[MAQUAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[SOKHUNG] [varchar](15) NOT NULL,
	[SOMAY] [varchar](15) NOT NULL,
	[MAPM] [int] NULL,
	[MACTPN] [int] NOT NULL,
	[GIA] [float] NOT NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[EMAIL] [varchar](30) NOT NULL,
	[PASSWORD] [varchar](15) NULL,
	[MANQ] [varchar](15) NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUONGHIEU]    Script Date: 12/29/2020 4:03:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THUONGHIEU](
	[MATH] [varchar](15) NOT NULL,
	[TENTH] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TH] PRIMARY KEY CLUSTERED 
(
	[MATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CT_KHUYENMAI] ([MALOAI], [MAKM], [PHANTRAM]) VALUES (N'LXHONDA00001', 2, 5)
INSERT [dbo].[CT_KHUYENMAI] ([MALOAI], [MAKM], [PHANTRAM]) VALUES (N'LXHONDA00002', 7, 4)
INSERT [dbo].[CT_KHUYENMAI] ([MALOAI], [MAKM], [PHANTRAM]) VALUES (N'LXHONDA00003', 2, 5)
INSERT [dbo].[CT_PHIEUDAT] ([MAPD], [MALOAI], [SOLUONG], [GIA]) VALUES (5, N'LXHONDA00001', 5, 60000000)
INSERT [dbo].[CT_PHIEUDAT] ([MAPD], [MALOAI], [SOLUONG], [GIA]) VALUES (5, N'LXHONDA00005', 5, 50000000)
INSERT [dbo].[CT_PHIEUDAT] ([MAPD], [MALOAI], [SOLUONG], [GIA]) VALUES (5, N'LXSUZUKI00004', 5, 31500000)
SET IDENTITY_INSERT [dbo].[CT_PHIEUNHAP] ON 

INSERT [dbo].[CT_PHIEUNHAP] ([MACTPN], [MAPN], [MALOAI], [SOLUONG], [GIA]) VALUES (2039, 1, N'LXHONDA00001', 5, 60000000)
INSERT [dbo].[CT_PHIEUNHAP] ([MACTPN], [MAPN], [MALOAI], [SOLUONG], [GIA]) VALUES (2040, 1, N'LXHONDA00005', 5, 50000000)
INSERT [dbo].[CT_PHIEUNHAP] ([MACTPN], [MAPN], [MALOAI], [SOLUONG], [GIA]) VALUES (2041, 1, N'LXSUZUKI00004', 5, 31500000)
SET IDENTITY_INSERT [dbo].[CT_PHIEUNHAP] OFF
INSERT [dbo].[DANHGIA] ([MAKH], [MALOAI], [MUCDANHGIA], [NOIDUNG], [NGAY]) VALUES (6, N'LXHONDA00001', 5, NULL, CAST(0x0000AC92017DFF6C AS DateTime))
INSERT [dbo].[DANHGIA] ([MAKH], [MALOAI], [MUCDANHGIA], [NOIDUNG], [NGAY]) VALUES (6, N'LXHONDA00003', 5, N'Chất lượng.', CAST(0x0000AC72011269C9 AS DateTime))
INSERT [dbo].[DANHGIA] ([MAKH], [MALOAI], [MUCDANHGIA], [NOIDUNG], [NGAY]) VALUES (8, N'LXHONDA00002', 5, N'Xe phù hợp với giá', CAST(0x0000AC7201145194 AS DateTime))
INSERT [dbo].[HOADON] ([MAHD], [MAPM], [NGAY], [THANHTIEN], [MASOTHUE]) VALUES (N'014791741446', 3019, CAST(0x0000AC8600B646DE AS DateTime), 41500000, NULL)
INSERT [dbo].[HOADON] ([MAHD], [MAPM], [NGAY], [THANHTIEN], [MASOTHUE]) VALUES (N'0749792742', 3020, CAST(0x0000AC8600B62FB0 AS DateTime), 32500000, NULL)
INSERT [dbo].[HOADON] ([MAHD], [MAPM], [NGAY], [THANHTIEN], [MASOTHUE]) VALUES (N'2353543534', 3023, CAST(0x0000AC9300B3092A AS DateTime), 60000000, NULL)
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [HO], [TEN], [GIOITINH], [NGAYSINH], [DIACHI], [MAQUAN], [SDT], [EMAIL]) VALUES (6, N'Đỗ Hữu', N'Đức', 0, CAST(0x0000881300000000 AS DateTime), N'97 Man Thiện', 9, N'0909813981', N'HuuDuc@gmail.com')
INSERT [dbo].[KHACHHANG] ([MAKH], [HO], [TEN], [GIOITINH], [NGAYSINH], [DIACHI], [MAQUAN], [SDT], [EMAIL]) VALUES (8, N'Trần Đình', N'Khoa', 0, CAST(0x0000849C00000000 AS DateTime), N'TP.HCM', 9, N'0831839133', N'DinhKhoa@gmail.com')
INSERT [dbo].[KHACHHANG] ([MAKH], [HO], [TEN], [GIOITINH], [NGAYSINH], [DIACHI], [MAQUAN], [SDT], [EMAIL]) VALUES (9, N'Trần Thị Kim', N'Liên', 1, CAST(0x000080C300000000 AS DateTime), N'TP.HCM', 2, N'0183913131', N'KimLien@gmail.com')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[KHUYENMAI] ON 

INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [NGAYBATDAU], [NGAYKETTHUC], [MOTA], [MANV]) VALUES (2, N'Đầu tháng 12', CAST(0x0000AC8400C5C100 AS DateTime), CAST(0x0000AC8900C5C100 AS DateTime), N'ab', 1)
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [NGAYBATDAU], [NGAYKETTHUC], [MOTA], [MANV]) VALUES (7, N'Giữa tháng 12', CAST(0x0000AC91018AAF10 AS DateTime), CAST(0x0000AC97018A68C0 AS DateTime), NULL, 1)
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [NGAYBATDAU], [NGAYKETTHUC], [MOTA], [MANV]) VALUES (8, N'Giáng sinh', CAST(0x0000AC98018AF560 AS DateTime), CAST(0x0000ACA2018AF560 AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[KHUYENMAI] OFF
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [EMAIL], [SDT]) VALUES (N'NCC00001', N'CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ XUẤT NHẬP KHẨU MÃ LỰC', N'651 Âu Cơ, Phường Hòa Thạnh, Quận Tân Phú, TP Hồ Chí Minh (TPHCM)', N'informaluc@gmail.com', N'02839761678')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [EMAIL], [SDT]) VALUES (N'NCC00002', N'CÔNG TY TNHH HƯỚNG TUYẾT', N'Tiểu Khu Phú Mỹ, Thị Trấn Phú Xuyên, Huyện Phú Xuyên, Tp. Hà Nội', N'huongtuyet@gmail.com', N'0500462073')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [EMAIL], [SDT]) VALUES (N'NCC00003', N'CÔNG TY TNHH SẢN XUẤT LẮP RÁP TUẤN NGHĨA', N'Số 18 Trần Quang Diệu, Ô Chợ Dừa, Quận Đống Đa, TP Hà Nội (TPHN)', N'phanvanminhvn@gmail.com', N'02436448640')
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [GIOITINH], [NGAYSINH], [DIACHI], [SDT], [EMAIL]) VALUES (1, N'Trần Quang', N'Châu', 0, CAST(0x00008CC300000000 AS DateTime), N'Quảng Ngãi', N'0334342948', N'Chauptit98@gmail.com')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [GIOITINH], [NGAYSINH], [DIACHI], [SDT], [EMAIL]) VALUES (4, N'Nguyễn Anh', N'Tú', 0, CAST(0x000087BD00000000 AS DateTime), N'TP.HCM', N'0018319731', N'AnhTu@gmail.com')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [GIOITINH], [NGAYSINH], [DIACHI], [SDT], [EMAIL]) VALUES (5, N'Phạm Hồng', N'Quân', 0, CAST(0x0000902500000000 AS DateTime), N'TP.HCM', N'0813917311', N'HongQuan@gmail.com')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
INSERT [dbo].[NHOMQUYEN] ([MANQ], [TENQUYEN]) VALUES (N'admin', N'admin')
INSERT [dbo].[NHOMQUYEN] ([MANQ], [TENQUYEN]) VALUES (N'customer', N'Khách hàng')
INSERT [dbo].[NHOMQUYEN] ([MANQ], [TENQUYEN]) VALUES (N'shipper', N'Nhân viên giao hàng')
SET IDENTITY_INSERT [dbo].[PHIEUDAT] ON 

INSERT [dbo].[PHIEUDAT] ([MAPD], [TRANGTHAI], [NGAYLAP], [MANCC], [MANV]) VALUES (5, 1, CAST(0x0000AC6D0003A9FD AS DateTime), N'NCC00001', 1)
INSERT [dbo].[PHIEUDAT] ([MAPD], [TRANGTHAI], [NGAYLAP], [MANCC], [MANV]) VALUES (7, 1, CAST(0x0000AC6D001506EB AS DateTime), N'NCC00003', 1)
INSERT [dbo].[PHIEUDAT] ([MAPD], [TRANGTHAI], [NGAYLAP], [MANCC], [MANV]) VALUES (9, 1, CAST(0x0000AC6D010C4B6E AS DateTime), N'NCC00002', 1)
SET IDENTITY_INSERT [dbo].[PHIEUDAT] OFF
SET IDENTITY_INSERT [dbo].[PHIEUMUA] ON 

INSERT [dbo].[PHIEUMUA] ([MAPM], [NGAYMUA], [HO], [TEN], [DIACHI], [MAQUAN], [SDT], [NGAYGIAO], [TRANGTHAI], [MASOTHUE], [NOIDUNGCHUY], [MANVD], [MANVGH], [MAKH]) VALUES (3010, CAST(0x0000AC6E016E669F AS DateTime), N'Đỗ Hữu', N'Đức', N'97 Man Thiện', 9, N'0909813981', CAST(0x0000AC7100A7D0F0 AS DateTime), 2, NULL, NULL, 1, 4, 6)
INSERT [dbo].[PHIEUMUA] ([MAPM], [NGAYMUA], [HO], [TEN], [DIACHI], [MAQUAN], [SDT], [NGAYGIAO], [TRANGTHAI], [MASOTHUE], [NOIDUNGCHUY], [MANVD], [MANVGH], [MAKH]) VALUES (3011, CAST(0x0000AC6E016FBF63 AS DateTime), N'Trần Đình', N'Khoa', N'TP.HCM', 9, N'0831839133', CAST(0x0000AC7300152610 AS DateTime), 2, NULL, NULL, 1, 8, 8)
INSERT [dbo].[PHIEUMUA] ([MAPM], [NGAYMUA], [HO], [TEN], [DIACHI], [MAQUAN], [SDT], [NGAYGIAO], [TRANGTHAI], [MASOTHUE], [NOIDUNGCHUY], [MANVD], [MANVGH], [MAKH]) VALUES (3012, CAST(0x0000AC6E01707AFB AS DateTime), N'Phan Thành', N'Chung', N'97 Man Thiện', 9, N'0989564531', CAST(0x0000AC6F00AA0370 AS DateTime), 2, NULL, NULL, 1, 9, 14)
SET IDENTITY_INSERT [dbo].[PHIEUMUA] OFF
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYLAP], [MANV], [MAPD]) VALUES (1, CAST(0x0000AC6D000BCF70 AS DateTime), 1, 5)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYLAP], [MANV], [MAPD]) VALUES (2, CAST(0x0000AC6D010A24D0 AS DateTime), 1, 7)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYLAP], [MANV], [MAPD]) VALUES (3, CAST(0x0000AC6D010D2A40 AS DateTime), 1, 9)
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
SET IDENTITY_INSERT [dbo].[PHUTRACH] ON 

INSERT [dbo].[PHUTRACH] ([MAPHUTRACH], [MANV], [MAQUAN]) VALUES (1, 4, 7)
INSERT [dbo].[PHUTRACH] ([MAPHUTRACH], [MANV], [MAQUAN]) VALUES (2, 4, 9)
INSERT [dbo].[PHUTRACH] ([MAPHUTRACH], [MANV], [MAQUAN]) VALUES (3, 4, 10)
SET IDENTITY_INSERT [dbo].[PHUTRACH] OFF
SET IDENTITY_INSERT [dbo].[QUAN] ON 

INSERT [dbo].[QUAN] ([MAQUAN], [TENQUAN]) VALUES (1, N'Quận 1')
INSERT [dbo].[QUAN] ([MAQUAN], [TENQUAN]) VALUES (2, N'Quận 2')
INSERT [dbo].[QUAN] ([MAQUAN], [TENQUAN]) VALUES (3, N'Quận 3')
SET IDENTITY_INSERT [dbo].[QUAN] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MASP], [SOKHUNG], [SOMAY], [MAPM], [MACTPN], [GIA]) VALUES (2094, N'SK92742', N'SM97424', 3010, 2039, 60000000)
INSERT [dbo].[SANPHAM] ([MASP], [SOKHUNG], [SOMAY], [MAPM], [MACTPN], [GIA]) VALUES (2095, N'SK94333', N'SM24242', 3013, 2039, 60000000)
INSERT [dbo].[SANPHAM] ([MASP], [SOKHUNG], [SOMAY], [MAPM], [MACTPN], [GIA]) VALUES (2096, N'SK87234', N'SM13133', 3016, 2039, 60000000)
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
INSERT [dbo].[TAIKHOAN] ([EMAIL], [PASSWORD], [MANQ]) VALUES (N'AnhKhoa@gmail.com', N'12345', N'staff')
INSERT [dbo].[TAIKHOAN] ([EMAIL], [PASSWORD], [MANQ]) VALUES (N'AnhTu@gmail.com', N'12345', N'shipper')
INSERT [dbo].[TAIKHOAN] ([EMAIL], [PASSWORD], [MANQ]) VALUES (N'AnhTuan@gmail.com', N'12345', N'staff')
INSERT [dbo].[THUONGHIEU] ([MATH], [TENTH]) VALUES (N'HXHONDA00001', N'HONDA')
INSERT [dbo].[THUONGHIEU] ([MATH], [TENTH]) VALUES (N'HXSUZUKI00004', N'SUZUKI')
INSERT [dbo].[THUONGHIEU] ([MATH], [TENTH]) VALUES (N'HXSYM00003', N'SYM')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UC_MAPN_MALOAI_CTPN]    Script Date: 12/29/2020 4:03:59 AM ******/
ALTER TABLE [dbo].[CT_PHIEUNHAP] ADD  CONSTRAINT [UC_MAPN_MALOAI_CTPN] UNIQUE NONCLUSTERED 
(
	[MAPN] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UC_HOADONDAT]    Script Date: 12/29/2020 4:03:59 AM ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [UC_HOADONDAT] UNIQUE NONCLUSTERED 
(
	[MAPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UC_EMAIL_KHACHHANG]    Script Date: 12/29/2020 4:03:59 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UC_EMAIL_KHACHHANG] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UC_SDT_KHACHHANG]    Script Date: 12/29/2020 4:03:59 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UC_SDT_KHACHHANG] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UC_LOAISANPHAM_TENLOAI]    Script Date: 12/29/2020 4:03:59 AM ******/
ALTER TABLE [dbo].[LOAISANPHAM] ADD  CONSTRAINT [UC_LOAISANPHAM_TENLOAI] UNIQUE NONCLUSTERED 
(
	[TENLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UC_EMAIL_NHANVIEN]    Script Date: 12/29/2020 4:03:59 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UC_EMAIL_NHANVIEN] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PHIEUNHAP_MAPD]    Script Date: 12/29/2020 4:03:59 AM ******/
ALTER TABLE [dbo].[PHIEUNHAP] ADD  CONSTRAINT [IX_PHIEUNHAP_MAPD] UNIQUE NONCLUSTERED 
(
	[MAPD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UC_SOKHUNG_SANPHAM]    Script Date: 12/29/2020 4:03:59 AM ******/
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [UC_SOKHUNG_SANPHAM] UNIQUE NONCLUSTERED 
(
	[SOKHUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UC_SOMAY_SANPHAM]    Script Date: 12/29/2020 4:03:59 AM ******/
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [UC_SOMAY_SANPHAM] UNIQUE NONCLUSTERED 
(
	[SOMAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UC_TENTH]    Script Date: 12/29/2020 4:03:59 AM ******/
ALTER TABLE [dbo].[THUONGHIEU] ADD  CONSTRAINT [UC_TENTH] UNIQUE NONCLUSTERED 
(
	[TENTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_PHIEUDAT] ADD  CONSTRAINT [DF_CT_PHIEUDAT_SOLUONG]  DEFAULT ((1)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] ADD  CONSTRAINT [DF_SOLUONG_CT_PHIEUNHAP]  DEFAULT ((1)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[DANHGIA] ADD  CONSTRAINT [DF_DANHGIA_SOLUONG]  DEFAULT ((0)) FOR [MUCDANHGIA]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [DF_GIOITINH_KHACHHANG]  DEFAULT ((0)) FOR [GIOITINH]
GO
ALTER TABLE [dbo].[LOAISANPHAM] ADD  CONSTRAINT [DF_LOAISANPHAM_LOAI]  DEFAULT ((0)) FOR [LOAI]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_GIOITINH_NHANVIEN]  DEFAULT ((0)) FOR [GIOITINH]
GO
ALTER TABLE [dbo].[CT_KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CT_KHUYENMAI_KHUYENMAI] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
GO
ALTER TABLE [dbo].[CT_KHUYENMAI] CHECK CONSTRAINT [FK_CT_KHUYENMAI_KHUYENMAI]
GO
ALTER TABLE [dbo].[CT_KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CT_KHUYENMAI_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_KHUYENMAI] CHECK CONSTRAINT [FK_CT_KHUYENMAI_LOAISANPHAM]
GO
ALTER TABLE [dbo].[CT_PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUDAT_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[CT_PHIEUDAT] CHECK CONSTRAINT [FK_CT_PHIEUDAT_LOAISANPHAM]
GO
ALTER TABLE [dbo].[CT_PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUDAT_PHIEUDAT] FOREIGN KEY([MAPD])
REFERENCES [dbo].[PHIEUDAT] ([MAPD])
GO
ALTER TABLE [dbo].[CT_PHIEUDAT] CHECK CONSTRAINT [FK_CT_PHIEUDAT_PHIEUDAT]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_LOAISANPHAM]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_KHACHHANG]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_LOAISANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_PHIEUDAT] FOREIGN KEY([MAPM])
REFERENCES [dbo].[PHIEUMUA] ([MAPM])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_PHIEUDAT]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_QUAN] FOREIGN KEY([MAQUAN])
REFERENCES [dbo].[QUAN] ([MAQUAN])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_QUAN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_TAIKHOAN] FOREIGN KEY([EMAIL])
REFERENCES [dbo].[TAIKHOAN] ([EMAIL])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_TAIKHOAN]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_KHUYENMAI_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [FK_KHUYENMAI_NHANVIEN]
GO
ALTER TABLE [dbo].[LOAISANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_LOAISANPHAM_HANG] FOREIGN KEY([MATH])
REFERENCES [dbo].[THUONGHIEU] ([MATH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOAISANPHAM] CHECK CONSTRAINT [FK_LOAISANPHAM_HANG]
GO
ALTER TABLE [dbo].[LOAISANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_LOAISANPHAM_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOAISANPHAM] CHECK CONSTRAINT [FK_LOAISANPHAM_NHACUNGCAP]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TAIKHOAN] FOREIGN KEY([EMAIL])
REFERENCES [dbo].[TAIKHOAN] ([EMAIL])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PHIEUDAT_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_NHANVIEN2] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PHIEUDAT_NHANVIEN2]
GO
ALTER TABLE [dbo].[PHIEUMUA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUMUA] CHECK CONSTRAINT [FK_PHIEUDAT_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUMUA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_NHANVIEN] FOREIGN KEY([MANVD])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUMUA] CHECK CONSTRAINT [FK_PHIEUDAT_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUMUA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_NHANVIEN1] FOREIGN KEY([MANVGH])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUMUA] CHECK CONSTRAINT [FK_PHIEUDAT_NHANVIEN1]
GO
ALTER TABLE [dbo].[PHIEUMUA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_QUAN] FOREIGN KEY([MAQUAN])
REFERENCES [dbo].[QUAN] ([MAQUAN])
GO
ALTER TABLE [dbo].[PHIEUMUA] CHECK CONSTRAINT [FK_PHIEUDAT_QUAN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_PHIEUDAT] FOREIGN KEY([MAPD])
REFERENCES [dbo].[PHIEUDAT] ([MAPD])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_PHIEUDAT]
GO
ALTER TABLE [dbo].[PHUTRACH]  WITH CHECK ADD  CONSTRAINT [FK_PHUTRACH_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHUTRACH] CHECK CONSTRAINT [FK_PHUTRACH_NHANVIEN]
GO
ALTER TABLE [dbo].[PHUTRACH]  WITH CHECK ADD  CONSTRAINT [FK_PHUTRACH_QUAN] FOREIGN KEY([MAQUAN])
REFERENCES [dbo].[QUAN] ([MAQUAN])
GO
ALTER TABLE [dbo].[PHUTRACH] CHECK CONSTRAINT [FK_PHUTRACH_QUAN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_CT_PHIEUNHAP] FOREIGN KEY([MACTPN])
REFERENCES [dbo].[CT_PHIEUNHAP] ([MACTPN])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_CT_PHIEUNHAP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_PHIEUDAT1] FOREIGN KEY([MAPM])
REFERENCES [dbo].[PHIEUMUA] ([MAPM])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_PHIEUDAT1]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHOMQUYEN] FOREIGN KEY([MANQ])
REFERENCES [dbo].[NHOMQUYEN] ([MANQ])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHOMQUYEN]
GO
ALTER TABLE [dbo].[CT_KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [CK_CT_KHUYENMAI_PHANTRAM] CHECK  (([PHANTRAM]>(0)))
GO
ALTER TABLE [dbo].[CT_KHUYENMAI] CHECK CONSTRAINT [CK_CT_KHUYENMAI_PHANTRAM]
GO
ALTER TABLE [dbo].[CT_PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [CK_CT_PHIEUDAT_GIA] CHECK  (([GIA]>(0)))
GO
ALTER TABLE [dbo].[CT_PHIEUDAT] CHECK CONSTRAINT [CK_CT_PHIEUDAT_GIA]
GO
ALTER TABLE [dbo].[CT_PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [CK_CT_PHIEUDAT_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CT_PHIEUDAT] CHECK CONSTRAINT [CK_CT_PHIEUDAT_SOLUONG]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [CK_CT_PHIEUNHAP_GIA] CHECK  (([GIA]>(0)))
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [CK_CT_PHIEUNHAP_GIA]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [CK_CT_PHIEUNHAP_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [CK_CT_PHIEUNHAP_SOLUONG]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [CK_DANHGIA_MUCDANHGIA] CHECK  (([MUCDANHGIA]>=(0) AND [MUCDANHGIA]<=(5)))
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [CK_DANHGIA_MUCDANHGIA]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_HOADON_THANHTIEN] CHECK  (([THANHTIEN]>(0)))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_HOADON_THANHTIEN]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [CK_KHUYENMAI] CHECK  (([NGAYBATDAU]<[NGAYKETTHUC]))
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [CK_KHUYENMAI]
GO
ALTER TABLE [dbo].[LOAISANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_LOAISANPHAM_GIA] CHECK  (([GIA]>(0)))
GO
ALTER TABLE [dbo].[LOAISANPHAM] CHECK CONSTRAINT [CK_LOAISANPHAM_GIA]
GO
ALTER TABLE [dbo].[LOAISANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_LOAISANPHAM_LOAI] CHECK  (([LOAI]>=(0) AND [LOAI]<=(2)))
GO
ALTER TABLE [dbo].[LOAISANPHAM] CHECK CONSTRAINT [CK_LOAISANPHAM_LOAI]
GO
ALTER TABLE [dbo].[LOAISANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_LOAISANPHAM_TRANGTHAI] CHECK  (([TRANGTHAI]>=(0) AND [TRANGTHAI]<=(2)))
GO
ALTER TABLE [dbo].[LOAISANPHAM] CHECK CONSTRAINT [CK_LOAISANPHAM_TRANGTHAI]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_SANPHAM_GIA] CHECK  (([GIA]>(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_SANPHAM_GIA]
GO
