@using WebsiteBanXeMay.Models;
@using WebsiteBanXeMay.ViewModels;


@{ IEnumerable<THUONGHIEU> lstThuongHieu = (IEnumerable<THUONGHIEU>)ViewBag.lstThuongHieu;
    IEnumerable<KieuSanPhamViewModel> lstKieuSanPham = (IEnumerable<KieuSanPhamViewModel>)ViewBag.lstKieuSanPham; }
<div class="hb-menu">
    <nav>
        <ul>
            <li><a id="contentNone" href="/TrangChu">Trang chủ</a></li>
            <li class="megamenu-holder">
                <a href="">Thương hiệu</a>
                <ul class="hb-dropdown">
                    @if (lstThuongHieu != null && lstThuongHieu.Count() > 0)
                    {
                        foreach (var ThuongHieu in lstThuongHieu)
                        {
                            <li>@Html.ActionLink(ThuongHieu.TENTH,"Index", "LoaiSanPham", new { MaTH = ThuongHieu.MATH},null)</li>
                        }
                    }
                </ul>
            </li>
            <li class="megamenu-holder">
                <a href="">Loại xe</a>
                <ul class="hb-dropdown">
                    @if (lstKieuSanPham != null && lstKieuSanPham.Count() > 0)
                    {
                        foreach (var KieuSanPham in lstKieuSanPham)
                        {
                    <li>@Html.ActionLink(KieuSanPham.TENKIEU, "Index", "LoaiSanPham", new { Kieu = KieuSanPham.MAKIEU }, null)</li>
                        }
                    }
                </ul>
            </li>
            <li><a id="contentNone" href="/TrangChu">Công nghệ</a></li>
            <li><a href="/TrangChu">Liên hệ</a></li>
        </ul>
    </nav>
</div>

